@page "/grocerylist"
@using System.Text.Json
@inject IModalService Modal
@inject IGroceryListService GroceryListService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<style>
    .card-header {
        background-color: transparent !important;
    }
    .groceryMoneyInput {
        max-width: 100px;
    }
    .input-group-text {
        border-radius: 0 !important;
    }
</style>
<div class="d-flex flex-column w-100 groceryAccordBg">
    <div class="card-header d-flex flex-row align-items-center mb-3">
        <div class="mr-auto pt-1">
            <h4 class="user-select-none">Grocery List</h4>
        </div>
        <button class="btn btn-outline-primary" @onclick="AddGroceryList">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
    </div>

    <div class="accordion">
        @if (GroceryListsData != null)
        {
            foreach (var data in GroceryListsData)
            {
                <div class="contentBx mb-2 p-3 shadow-sm @(Expanded.Contains(data.Key) ? "active" : "")">
                    <div class="heading text-capitalize user-select-none" @onclick="@(() => ExpandContent(data.Key))">@data.Name</div>
                    <div class="content @(Expanded.Contains(data.Key) ? "border-top" : "")">
                        <ol>
                            @foreach (var item in data.Items)
                            {
                                <li @onclick="@(() => MarkItemCompleted(data, item.Key))" data-toggle="tooltip" data-placement="top" title="Tap to mark it completed">
                                    <div class="d-flex flex-row flex-nowrap justify-content-between align-items-center">
                                        <div class="text-capitalize flex-grow-1">
                                            @if (item.IsCompleted)
                                            {
                                                <s>@item.Name</s>
                                            }
                                            else
                                            { @item.Name }
                                        </div>
                                        <div class="mr-2">
                                            @item.Quantity
                                            <small class="text-muted">/ Qty</small>
                                        </div>
                                        <div class="pt-2">
                                            <label class="switch">
                                                <input type="checkbox" checked=@item.IsCompleted @onclick="@(() => MarkItemCompleted(data, item.Key))">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ol>
                        <div class="d-flex flex-row my-2 px-1">
                            <div class="flex-1 pr-4">
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control groceryMoneyInput" aria-label="Amount spent" placeholder="Amount Spent" @bind="data.MoneySpent">
                                    <span class="input-group-text cursor-pointer" @onclick="@(() => UpdateMoneySpent(data))">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="ml-2">
                                <button class="btn btn-outline-info mr-2" @onclick="@(() => EditGroceryItem(data.Key))">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>

                                <button class="btn btn-outline-danger mr-2" @onclick="@(() => DeleteItem(data.Key))">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>

                                <button class="btn btn-outline-info" @onclick="@(() => ShareGroceryList(data.Key))">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                     <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                                   </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-between">
                        <small class="user-select-none ml-2 text-muted">Total : @data.Items.Count Completed : @data.Items.Where(w => w.IsCompleted).Count()</small>
                        <small class="user-select-none ml-2 text-muted">Created @data.GetTodayDays() days ago</small>
                    </div>
                </div>
            }
        }
        else
        {
            <span class="p-4 user-select-none">You have no data registered!</span>
        }
        @*<div class="contentBx mb-4 p-3 shadow">
                <div class="heading">GroceryList 1</div>
                <div class="content pl-4 mt-2">
                    this is the content
                </div>
            </div>*@
    </div>
</div>

@*<CustomNavigator />*@

@code{
    private List<GroceryList> GroceryListsData;
    private List<string> Expanded = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await LoadList();
    }

    private async Task ExpandContent(string key)
    {
        await Task.Run(() =>
        {
            if (Expanded.Contains(key)) { Expanded.Remove(key); }
            else
            { Expanded.Add(key); }
        });

        StateHasChanged();
    }

    private void AddGroceryList()
    {
        NavigationManager.NavigateTo("/addgroceryitem");
    }

    private async Task LoadList()
    {
        GroceryListsData = await GroceryListService.GetALlGroceriesList();
        if (GroceryListsData != null) { GroceryListsData = GroceryListsData.OrderByDescending(o => o.CreatedAt).ToList(); }
        StateHasChanged();
    }

    private async Task MarkItemCompleted(GroceryList data, string key)
    {
        var item = data.Items.FirstOrDefault(f => f.Key == key);

        if (item != null) { item.IsCompleted = !item.IsCompleted; }

        await GroceryListService.UpsertGroceryList(data);

        await LoadList();
    }

    private async Task DeleteItem(string key)
    {
        await GroceryListService.RemoveGroceryList(key);
        await LoadList();
    }

    private async Task ShareGroceryList(string key)
    {
        var dd = await GroceryListService.GetGroceryListById(key);
        await JsRuntime.InvokeVoidAsync("ShareData", dd.Name, EncodingHelper.Base64Encode(JsonSerializer.Serialize(dd)));
    }

    private void EditGroceryItem(string key)
    {
        NavigationManager.NavigateTo($"/addgroceryitem/{key}");
    }

    private async Task UpdateMoneySpent(GroceryList data)
    {
        Console.WriteLine("Updating Money Spent: " + data.MoneySpent);

        await GroceryListService.UpsertGroceryList(data);

        await LoadList();
    }

}